<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <!-- Include BS4 CDN for development, put in local file later -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet"/>
        <link href="/wrapkit/css/style.css" rel="stylesheet"/>
        <link href="/wrapkit/css/index-landingpage/landing-page.css" rel="stylesheet">
        <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css" type="text/css" rel="stylesheet"/>
        <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css" type="text/css" rel="stylesheet"/>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js"></script>
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <link href="/stylesheets/checkout.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="main-wrapper">
            <%- include('../partials/navbar') %>
            <div class="page-wrapper">
                <div class="container-fluid">
                    <%- include('../partials/header-background') %>
                    <% if (title === "Cookshare - Home") { %>
                        <div id="map"></div>
                    <% } %>
                    <%- include('../partials/flash-message') %>
                    <%- body -%>
                </div>
            </div>
            <%- include('../partials/footer') %>
        </div>
    </body>
    <script>
        var post = <%- JSON.stringify(post) %>;
        var newPrice = <%- JSON.stringify(newPrice) %>;
    </script>
    <script src="/javascripts/checkout.js"></script>
    
</html>