<% layout('layouts/boilerplate') -%>
<div class="container">
    <div class="row m-t-15">
        <div class="col-4">
            <div class="row">
                <div class="col-md-8 text-center">
                    <h2 class="title">Search Posts</h2>
                </div>
                <% include ../partials/search-filter %>
            </div>
        </div>
        <div class="col-8">
            <div id="map"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="m-b-30">
        <div class="row">
            <div class="col-md-8 text-center">
                <h1 class="title">Posts</h1>
            </div>
        </div>

        <% if (posts.docs.length < 1) { %>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="subtitle">There are no posts to show</h2>
                </div>
            </div>
        <% } else { %>
            <div class="m-t-15">
                <% include ../partials/paginate %>
                <% posts.docs.forEach(function(post) { %>
                    <div class="row mt-15">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="title"><%= post.title %></h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="subtitle">Price: <%= post.price %></h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="subtitle">Rating: <%= post.avgRating %></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="subtitle"><%= post.description %></p>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="subtitle">Location: <%= post.location %></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="title" href="/posts/<%= post.id %>">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
        <% include ../partials/paginate  %>
    </div>
</div>


<script>
    mapboxgl.accessToken = "<%= mapBoxToken %>";
    var posts = {features: <%- JSON.stringify(posts.docs) %>};
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>